* {
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
    box-sizing: border-box;
}

.container {
    background-image: url(20-10-2023-id-background-desktop.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh; 
    color: #fff;
    padding: 10px 4%;
    position: relative;
}    

.container-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0;
    gap: 0.5rem;
    font-size: 20px;
}

.container-navbar-language {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: black;
    height: 30px;
    width: 250px;
    border-radius: 8px;
    font-size: 15px;
}

.container-navbar-language button {
    background-color: black;
    color: white;
    border: none;
    font-size: 15px;
}

.container-navbar-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-navbar-button button {
    color: white;
    background-color: rgb(51, 51, 232);
    height: 30px;
    width: 100px;
    border-radius: 8px;
    border: none;

}

.container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 14rem;
}

.container-content-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container-content-logo img {
    max-width: 340px;
    height: auto;
}

.container-content-text {
    margin-bottom: 2rem;
}

.container-content button {
    color: white;
    background-color: rgb(51, 51, 232);
    height: 50px;
    width: 300px;
    border-radius: 8px;
    border: none;
}

.container-content-button h5{
    font-size: 18px;
}
